<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/dreamscale/logback/common.xml"/>

    <logger name="com.dreamscale" level="DEBUG"/>
    <logger name="rest.invocation" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>